<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layouts/default">

    <head th:replace="~{template1 :: headr}">
        <title>Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="./../static"/>
    </head>

    <body>
        <header></header>
        <main id="mainElement">
            
        </main>
        <footer>
            
        </footer>

    </body>
    <div th:replace="~{template1 :: scripts}">
        <script src="link"/>
    </div>
    

</html>
